[core]
	excludesfile = ~/.gitignore_global
[init]
	templatedir = ~/.git_template
[alias]
  ctags = !.git/hooks/ctags
	sla = log --oneline --decorate --graph --all --pretty=format:'%C(yellow)%h%C(reset) - %an [%C(green)%ar%C(reset)] %s'
	car = commit --amend --no-edit
	uncommit = reset --soft HEAD^
[include]
  path = ~/.gitconfig_identity
[push]
	default = upstream
[fetch]
	prune = true
